* {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

body {
  background-color: #85d1fd;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  width: 80%;
  margin-bottom: 100px;
}

#editor {
  width: 100%;
  height: 70vh;
  font-size: 18px;
  background-color: #04557b;
  resize: none;
  color: white;
  padding: 20px;
  overflow: auto;
  border-radius: 20px;
}

#preview {
  width: 100%;
  height: 70vh;
  margin-top: 20px;
  font-size: 18px;
  background-color: #04557b;
  color: white;
  padding: 20px;
  overflow: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(1, 124, 255, 0.615), 0 6px 20px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
}

#heading {
  text-align: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .App {
    flex-direction: row;
    width: 80%;
  }

  #editor {
    width: 50%;
    height: 80vh;
    margin-right: 10px;
  }

  #preview {
    width: 50%;
    height: 80vh;
    margin-left: 10px;
    margin-top: 0;
  }
}
